{% extends "layout.html" %}
{% block content %}   
<h1>ChallengeCompanion</h1>
<h2>Getting started</h2>
Go to the Garmin ConnectIQ store, <a href="https://apps.garmin.com/apps/4f07b0a4-1b1d-4812-9a88-f4eaca72d4fe" target="_blank">download this app</a> and join the global challenge!<p>
Create your <b>own branded challenge <a href="create">here</a></b> and simply distribute the challenge-key for everyone to join!<p>
<h2>Why?</h2>
Great question! Competitition sparks the motivation and engagement that some of us need to be nuged towards a more healthy lifestyle!<p>
In case you want to organise a challenge amongs colleagues, this app allows you to keep track of scores more easily than Excel sheets on a file share (or on sharepoint for that matter).<br />
As the organiser you can still easily extract the challenges data as Excel or access it via REST-API.

<h2>Global Challenge</h2>

Feel free to join the "Global Challenge" around who has the most steps with the Challenge-ID: "global"!

{% endblock %}
