{% extends "layout.html" %}
{% block content %}   
    
<h1>Privacy Notice</h1>
Effective Date: 12.09.2024<p />

Welcome to ChallengeCompanion. Your privacy is important to us. This Privacy Notice explains how we collect, use, and protect your information in connection with the fitness challenges offered through our app.<p />

<h2>Information We Collect</h2>

When you use our app, we collect the following data:

<ul>
  <li>Username - as entered by you in CIQ settings of the app</li>
  <li>Team Name - as entered by you in CIQ settings of the app</li>
  <li>Challenge - as entered by you in CIQ settings of the app</li>
  <li>Steps per day</li>
  <li>Distance per day</li>
  <li>Calories per day</li>
  <li>Active Calories per day</li>
  <li>Stairs climbed per day</li>
  <li>Intensity Minutes per day</li>
  <li>Time of the last upload to the app</li>
  <li><a href="https://developer.garmin.com/connect-iq/api-docs/Toybox/System/DeviceSettings.html#uniqueIdentifier-var">Garmin identifier</a></li>
</ul>

<h2>How We Use Your Information</h2>

The data we collect is used solely to operate and enhance the functionality of the app. Specifically, we use your data to:

<ul>
<li>Facilitate and manage challenge participation.</li>
<li>Allow visibility into challenge progress for yourself, the challenge creator, and other participants of the same challenge.</li>
</ul>

<h2>Data Sharing and Visibility</h2>

Your data such as username, team name, steps, distance, calories, active calories, stairs, and intensity minutes will be visible only to:
<ul>
  <li>You</li>
  <li>The creator of the challenge you have joined</li>
  <li>Other participants within the same challenge</li>
  <li>the developer of ChallengeCompanion</li>
</ul>

<h2>Data Retention and Deletion</h2>

Your data will be stored exclusively within the European Union. Your data will be retained for the duration of the challenge plus an additional 14 days. After this period, all related data will be permanently deleted from our systems.

<h2>Protection of Your Information</h2>

We implement industry-standard security measures to protect your data against unauthorized access, alteration, disclosure, or destruction.

<h2>Changes to This Privacy Notice</h2>

We may update this Privacy Notice from time to time. When we do, we will notify you by revising the effective date at the top of this notice. We encourage you to review this notice periodically to stay informed about how we are protecting your information.

<h2>Contact Us</h2>

If you have any questions or concerns regarding this Privacy Notice, please contact us via "Contact Developer" in the Garmin ConnectIQ-page.<br />

Thank you for choosing ChallengeCompanion to support your fitness journey!
{% endblock %}
